apiVersion: batch/v1
kind: Job
metadata:
  name: granularity-30-cif2emb-{{ job_iterator }}
spec:
  template:
    spec:
      containers:
      - name: cif2embedding-container-{{ job_iterator }}
        image: hub.cerit.io/xrosinec/python:3.11-datascience
        imagePullPolicy: Always
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          runAsUser: 1000
        command:
          - python3
        args:
          - /scripts/lmi_emb/cif2emb.py
          - --input
          - /proteins
          - --output
          - /output/ng-granularity-30
          - --granularity
          - "30"
          - --scratch_dir
          - /tmp
          - --position
          - "{{ job_iterator }}"
          - --index
          - "/output/configs/job-cif2emb-{{ job_iterator }}"
        volumeMounts:
          - name: script-volume
            mountPath: /scripts
          - name: vol-1
            mountPath: /proteins
          - name: embeddings
            mountPath: /output
        resources:
          limits:
            cpu: '1'
            ephemeral-storage: 32Gi
            memory: 2Gi
          requests:
            cpu: '1'
            ephemeral-storage: 32Gi
            memory: 2Gi
      imagePullSecrets:
        - name: gitlab-containerregistry
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: vol-1
          persistentVolumeClaim:
            claimName: pvc-af-proteomes
        - name: embeddings 
          persistentVolumeClaim:
            claimName: pvc-embeddings
        - name: script-volume
          configMap:
            name: cif2embedding-script
      restartPolicy: Never
